<html>
    {% load static %}
    
    <head>
        <link href="{% static "style_net/css/style.css" %}" rel="stylesheet"/>
    </head>

    <form action="/style_net/?style=rain" method="post" class="dropzone" id="rain-dropzone" enctype="multipart/form-data"></form>
    <form action="/style_net/?style=wave" method="post" class="dropzone" id="wave-dropzone" enctype="multipart/form-data"></form>
    <form action="/style_net/?style=starry" method="post" class="dropzone" id="starry-dropzone" enctype="multipart/form-data"></form>
    <script src="{% static "style_net/javascript/dropzone.js" %}"></script>
    <script src="{% static "style_net/javascript/scripts.js" %}"></script>
    
</html>